<h3>Bienvenido a mi Primera Practica con ANGULAR</h3><br><br>
<h5>Top 10 Lenguajes de Programación 2020</h5>
<table>
    <tbody>
      <tr>
        <th>No.</th>
        <th>Nombre</th>
        <th>Logo</th>

      </tr>
      <tr>
        <th>1</th>
        <td> JavaScript </td>
        <td><img src="./assets/js.png" class="cuadro"></td>
      </tr>
      <tr>
        <th>2</th>
        <td>Java</td>
        <td><img src="./assets/ja.png" class="cuadro"></td>
      </tr>
      <tr>
        <th>3</th>
        <td>Python</td>
        <td><img src="./assets/py.png" class="cuadro"></td>
      </tr>
      <tr>
        <th>4</th>
        <td>Ruby</td>
        <td><img src="./assets/ru.png" class="rectangulo"></td>
      </tr>
      <tr>
        <th>5</th>
        <td>PHP</td>
        <td><img src="./assets/php.png" class="rectangulo"></td>
      </tr>
      <tr>
        <th>6</th>
        <td>C++</td>
        <td><img src="./assets/c+.png" class="cuadro"></td>
      </tr>
      <tr>
        <th>7</th>
        <td>CSS</td>
        <td><img src="./assets/css.png" class="cuadro"></td>
      </tr>
      <tr>
        <th>8</th>
        <td>C#</td>
        <td><img src="./assets/cs.png" class="cuadro"></td>
      </tr>
      <tr>
        <th>9</th>
        <td>C</td>
        <td><img src="./assets/c.png" class="cuadro"></td>
      </tr>
      <tr>
        <th>10</th>
        <td>Go</td>
        <td><img src="./assets/go.png" class="rectangulo"></td>
      </tr>
    </tbody>
  </table>
